<div class="profile-container">
    <div class="profile-column">
        <app-profile-card 
            name="Maya B" 
            bio="Modify here" 
            imageUrl="./assets/profile.jpg">
        </app-profile-card>
        <app-profile-card 
            name="Stella C" 
            bio="Modify here" 
            imageUrl="./assets/profile.jpg">
        </app-profile-card>
        <app-profile-card 
            name="Phyllis K" 
            bio="is a senior in Information Technology at University of Missouri. She is known as
            ferret whisperer among her friends. She used to have a business of ferrets, 
            but currently she only has a cat. Mochi is a smart kitty, she learns to play fetch and use pet buttons.
            Both Phyllis and Mochi loves to play with ferrets." 
            imageUrl="./assets/Phyllis.jpg">
        </app-profile-card>
        <app-profile-card 
            name="Michael S" 
            bio="Modify here" 
            imageUrl="./assets/profile.jpg">
        </app-profile-card>
        <app-profile-card 
            name="Upasana R" 
            bio="Modify here" 
            imageUrl="./assets/profile.jpg">
        </app-profile-card>
    </div>
</div>