.navbar {
    background-color: #fff; /* Example background color */
    overflow: hidden;
    display: flex; 
    justify-content: space-between; /* Align items to the start and end of the container */
    align-items: center; 
    text-wrap: nowrap;  /* text don't go on next line when window size change */
  }

  .navbar .logo img {
    width: 180px;
    height: auto; 
    margin: 5% 10%;
  }
  
  .navbar .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* margin-left: auto; */

    /* make sure nav links stays on the right when window size change */
    position: relative;
    width: 100%;
    left: 50%;
  }

  .navbar .navbar-links li a {
    display: block;
    color: black; /* Example link color */
    font-size: medium;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }