.profile-card {
    display: flex;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    margin: 0 50px 5%;
}

.profile-card img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    padding-right: 50px
}

.profile-info {
    flex: 1;
    flex-wrap: wrap;
}